body {
    background-color: white;
  }
  
.css-ocqkz7.e1tzin5v4{
    background-color: white;
    border-radius: 5%;
}






[data-testid="stSidebar"][aria-expanded="true"] > div:first-child {
  width: 250px;
  padding-top: 20px;
  
}
[data-testid="stSidebar"][aria-expanded="false"] > div:first-child {
  width: 250px;
  margin-left: -250px;
  padding-top: 20px;
}






