body {
    background-color: #ffffff;
  }
  
.css-ocqkz7.e1tzin5v4{
    background-color: white;
    border-radius: 5%;
}

.css-eczf16.e16nr0p31{
  visibility: hidden;
}
#MainMenu {visibility: hidden;}

#modebar-d6c5ee{visibility: hidden;}


[data-testid="stSidebar"][aria-expanded="true"] > div:first-child {
  width: 250px;
  padding-top: 20px;
  
}
[data-testid="stSidebar"][aria-expanded="false"] > div:first-child {
  width: 250px;
  margin-left: -250px;
  padding-top: 20px;
}






