body {
    background-color: #ffffff;
  }
  
.css-ocqkz7.e1tzin5v4{
    background-color: white;
    border-radius: 5%;
} 

.css-eczf16.e16nr0p31{
  visibility: hidden;
}

.block-container.css-18e3th9.egzxvld2{
  padding-top: 6rem;
}

#MainMenu {
  display: none;}

.css-qrbaxs.effi0qh3{
  display: none;
}
.modebar-group{
  visibility: hidden;
}

[data-testid="stSidebar"][aria-expanded="true"] > div:first-child {
  width: 250px;
  padding-top: 20px;
  
}
[data-testid="stSidebar"][aria-expanded="false"] > div:first-child {
  width: 250px;
  margin-left: -250px;
  padding-top: 20px;
}






